.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
  box-sizing: border-box;
  display: block;
}

.device {
  position: relative;
  transform: scale(0.14);
  z-index: 100;
}

.device .device-frame {
  z-index: 1;
}

.device .device-content {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.device-iphone-8 {
  height: 871px;
  width: 419px;
  position: relative;
  bottom: 250px;
  right: 126px;
}

.device-iphone-8 .device-frame {
  background: #fff;
  border-radius: 68px;
  box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 7px #e2e3e4;
  height: 871px;
  padding: 102px 22px;
  width: 419px;
}

.device-iphone-8 .device-content {
  border: 2px solid #222;
  border-radius: 4px;
  height: 667px;
  width: 375px;
}

.device-iphone-8 .device-stripe::after,
.device-iphone-8 .device-stripe::before {
  border: solid rgba(51, 51, 51, .15);
  border-width: 0 7px;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.device-iphone-8 .device-stripe::after {
  top: 68px;
}

.device-iphone-8 .device-stripe::before {
  bottom: 68px;
}

.device-iphone-8 .device-header {
  border: 2px solid #c8cacb;
  border-radius: 50%;
  bottom: 25px;
  height: 58px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  width: 58px;
}

.device-iphone-8 .device-sensors {
  background: #666;
  border-radius: 3px;
  height: 6px;
  left: 50%;
  margin-left: -38px;
  position: absolute;
  top: 52px;
  width: 76px;
}

.device-iphone-8 .device-sensors::after,
.device-iphone-8 .device-sensors::before {
  background: #666;
  border-radius: 50%;
  content: "";
  position: absolute;
}

.device-iphone-8 .device-sensors::after {
  height: 10px;
  left: 50%;
  margin-left: -5px;
  top: -25px;
  width: 10px;
}

.device-iphone-8 .device-sensors::before {
  height: 12px;
  left: -42px;
  margin-top: -6px;
  top: 50%;
  width: 12px;
}

.device-iphone-8 .device-btns {
  background: #c8cacb;
  height: 30px;
  left: -3px;
  position: absolute;
  top: 102px;
  width: 3px;
}

.device-iphone-8 .device-btns::after,
.device-iphone-8 .device-btns::before {
  background: #c8cacb;
  content: "";
  height: 56px;
  left: 0;
  position: absolute;
  width: 3px;
}

.device-iphone-8 .device-btns::after {
  top: 62px;
}

.device-iphone-8 .device-btns::before {
  top: 132px;
}

.device-iphone-8 .device-power {
  background: #c8cacb;
  height: 80px;
  position: absolute;
  right: -2px;
  top: 160px;
  width: 3px;
}

.device-iphone-8.device-gold .device-frame {
  box-shadow: inset 0 0 0 2px #e4b08a, inset 0 0 0 7px #f7e8dd;
}

.device-iphone-8.device-gold .device-header {
  border-color: #e4b08a;
}

.device-iphone-8.device-gold .device-btns,
.device-iphone-8.device-gold .device-btns::after,
.device-iphone-8.device-gold .device-btns::before {
  background: #e4b08a;
}

.device-iphone-8.device-gold .device-power {
  background: #e4b08a;
}

.device-iphone-8.device-spacegray .device-frame {
  background: #222;
  box-shadow: inset 0 0 0 2px #74747a, inset 0 0 0 7px #9b9ba0;
}

.device-iphone-8.device-spacegray .device-stripe::after,
.device-iphone-8.device-spacegray .device-stripe::before {
  border-color: rgba(204, 204, 204, .35);
}

.device-iphone-8.device-spacegray .device-btns,
.device-iphone-8.device-spacegray .device-btns::after,
.device-iphone-8.device-spacegray .device-btns::before {
  background: #74747a;
}

@media (min-width: 768px) {
  .device {
    position: relative;
    transform: scale(0.22);
    z-index: 103;
  }

  .device-iphone-8 {
    height: 871px;
    width: 419px;
    position: relative;
    bottom: 155px;
    right: 190px;
  }
}

@media (min-width: 1200px) {
  .device {
    position: relative;
    transform: scale(0.28);
    z-index: 103;
  }

  .device-iphone-8 {
    height: 871px;
    width: 419px;
    position: relative;
    bottom: 70px;
    right: 250px;
  }
}